<!DOCTYPE html>
<html lang="en">
<style>
    body {background-color: #7066F7;}
    h1 {color: orange;}
    body{
    font-family: 'Trebuchet MS', sans-serif;}
    {% block style %}{% endblock %}
</style>
<head>
    <meta charset="UTF-8">
    <title>LW: {% block title %}LiteWatch{% endblock %}</title>
    {% block script %}{% endblock %}
</head>
<body>
    <div>
        <a>LOGO</a>
    </div>
    <span>
        <a href="/">Home</a>
        {% block allmenuitems %}{% endblock %}
    </span>
    <span style="float:right">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            (<a href="useroptions">{{ user.username }}</a>)
        {% else %}
            <a href="{% url 'login' %}">Login/Register</a>
        {% endif %}
    </span>
    <hr/>

    {% block content %}Empty Content{% endblock %}

</body>
</html>