{% extends "base.html" %}


{% block style %}{% endblock %}


{% block content %}
    <h1>About LiteWatch Web Crawler</h1>
    <p>LiteWatch is a web-crawler program where it surfs through the valid websites and notifies the user of
    keyword matches it registers.</p>
    <p></p>
    <p> Principles of Litewatch: </p>
<ul>
    <li><b>Look Up - User Inputs Keyword</b></li>
    <li><b>Investigate - Searches listings matching keyword</b></li>
    <li><b>Transcribe - Record matching hits</b></li>
    <li><b>Enunciate - Report Findings to user</b></li>
</ul>
{% endblock %}


