{% extends "base.html" %}
<style>
    {% block style %}{% endblock %}
</style>

{% block style %}{% endblock %}


{% block content %}
    <h1><strong><u>About our program: LITEwatch!</u></strong></h1>
    <img src="LITEWATCH_logo.png" alt = "LITEWATCH LOGO" style="width: 200px;height: 200px; position:absolute; bottom: 0px; right: 0px;" >

    <p> <em> <b> LiteWatch is a that surfs through a website of your choosing and notifies you of listings it uncovers...
        Without having to visit the website!! </b></p></em>
    <br/>
    <p style="font-size: large; color: black;"> <em> This tool follows the <b style="color: blue"> L.I.T.E. </b> Principles below: </em> </p>
<ul>
    <li><b style="color: blue; font-size: xx-large">L</b><b>ook- Take the given Keyword.</b></li>
    <li><b style="color: blue; font-size: xx-large">I</b><b>nvestigate - Use the keyword to find items matching the word.</b></li>
    <li><b style="color: blue; font-size: xx-large">T</b><b>ranscribe - Record matching findings</b></li>
    <li><b style="color: blue; font-size: xx-large">E</b><b>nunciate - Report discoveries to user</b></li>
</ul>

    <p> The "Looker-Investigator-Transcriber-Enunciator" watcher tool, aka LITEwatch, will do your search queries for you by crawling through your preferred website to uncover anything
    that matches your keyword preferences! Once its finished, it will report all those findings for you to reference at any time.</p>
{% endblock %}




