{% extends "base.html" %}
{% block style %}
<style>
    body { /*Animation comes from: https://www.sliderrevolution.com/coding/css-background-patterns/*/
        background: linear-gradient(-65deg, #dff024, #70d11b, #11f2ee, #3e7fc9);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
    h1{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-size: xxx-large;
        outline-style: wave;
        color: black;
        padding: 5px;
        border: 15px black;
        background-color: aquamarine;
        font-weight: bold;
    }

    li{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-size: x-large;
        font-weight: bold;
    }

    p{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-weight: bold;
        padding: 5px;
        border: 15px black;
        background-color: #00FF2D;
    }

    li{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-weight: bold;
        padding: 5px;
        border: 15px black;
        background-color: #EBFA05 ;
    }
    table, th, td {
        border: 5px solid #333;
        background-color: #57e02d;
    }

    th {
        color:#000066;
        font-weight: bold;
        background-color: #03ff57;
    }

    td {
        font-weight:bolder;
    }

        .theButton{
            font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
      width: auto;
      padding: 2px 6px;
      margin: 3px 5px;
            font-weight:bolder;

     }

        a{
            font-weight: bold;
            background-color: yellow;
            color: #0033cc;
            font-size: large;
        }
    .noFont {
        /*Did You expect anything here? This is just an empty font for newlines in case of a misuse...*/
    }
    </style>
{% endblock %}
{% block title %}LiteWatch{% endblock %}

{% block allmenuitems %}
    {% if user.is_authenticated %}
        <img src="LITEWATCH_logo.png" alt = "LITEWATCH LOGO" style="width: 200px;height: 200px; position:absolute; bottom: 0px; right: 0px;" >

        <a href="instructionpage">Instruction</a>

    {%  else %}
        <a>Dasit</a>
    {%  endif %}
{%  endblock %}

{% block content %}
    <h1>User's LITE findings and records</h1>
    <p><form action="newsearch"><button type="submit"; class="theButton">Create New Search</button></form></p>
    <div class="noFont">
    <table>
        <tr>
            <th>Keyword</th>
            <th>URL</th>
            <th>Date Created</th>
            <th># of Results</th>
            <th>Result IDs</th>
            <th>Status</th>
        </tr>
        {% for res in userResultList %}
            <tr>
                <td>{{ res.keyword }}</td>
                <td>{{ res.url }}</td>
                <td>{{ res.dateCreated }}</td>
                <td>{{ res.hits }}</td>
                <td>{{ res.hitIds }}</td>
                <td>
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden"; class="theButton"; name="changestate" value="{{ res.id }}">
                        <button type="submit" class="theButton">{{ res.state }}</button></form>
                </td>
                <td>
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" class="theButton" name="deletesearch" value="{{ res.id }}">
                        <button type="submit" class="theButton" onclick="return confirm('Are you sure?\nDeleting will remove this search and associated results forever.')">Delete</button>
                    </form>
                </td>
                <!-- button or new web page to change state -->
            </tr>
        {% endfor %}
    </table>
    </div>

    </table>
{% endblock %}

