{% extends "base.html" %}
{% block style %}

{% endblock %}

{% block allmenuitems %}
    {% if user.is_authenticated %}
        <img src="LITEWATCH_logo.png" alt = "LITEWATCH LOGO" style="width: 200px;height: 200px; position:absolute; bottom: 0px; right: 0px;" >

        <a href="instructionpage">Instruction</a>

    {%  else %}
        <a>Dasit</a>
    {%  endif %}
{%  endblock %}

{% block content %}
    <h1>User's LITE findings and records</h1>
    <p><form action="newsearch"><button type="submit"; class="theButton">Create New Search</button></form></p>
    <div class="noFont">
    <table>
        <tr>
            <th>Keyword</th>
            <th>URL</th>
            <th>Date Created</th>
            <th># of Results</th>
            <th>Result IDs</th>
            <th>Status</th>
        </tr>
        {% for res in userResultList %}
            <tr>
                <td>{{ res.keyword }}</td>
                <td>{{ res.url }}</td>
                <td>{{ res.dateCreated }}</td>
                <td>{{ res.hits }}</td>
                <td>{{ res.hitIds }}</td>
                <td>
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden"; class="theButton"; name="changestate" value="{{ res.id }}">
                        <button type="submit" class="theButton">{{ res.state }}</button></form>
                </td>
                <td>
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" class="theButton" name="deletesearch" value="{{ res.id }}">
                        <button type="submit" class="theButton" onclick="return confirm('Are you sure?\nDeleting will remove this search and associated results forever.')">Delete</button>
                    </form>
                </td>
                <!-- button or new web page to change state -->
                <!-- Test the search criteria -->
            </tr>
        {% endfor %}
    </table>
    </div>

    <button type="submit" class="theButton" onclick="return confirm('This is a test button. This will test the search criteria')">Test Search Criteria</button>
{% endblock %}

