{% extends "base.html" %}
{% block style %}
    table {
        border: 1px solid #333;
    }
{% endblock %}
{% block title %}LiteWatch{% endblock %}

{% block content %}
    <h1>This is a user's internal homepage</h1>
    <p>Button: Create New Search</p>
    <div>
    <table>
        <tr>
            <th>Keyword</th>
            <th>URL</th>
            <th># of Results</th>
            <th>Result IDs</th>
            <th>Status</th>
        </tr>
        {% for res in userResultList %}
            <tr>
                <td>res.id</td>
                <td>res.url</td>
                <td>res.hits</td>
                <td>res.hitIds</td>
                <td>res.state</td>
                <!-- button or new web page to change state -->
            </tr>
        {% endfor %}
    </table>
    </div>

    </table>
{% endblock %}

