{% extends "base.html" %}
<style>


    {% block style %}{% endblock %}
</style>
{% block style %}{% endblock %}
{% block title %}New Search{% endblock %}
<img src="LITEWATCH_logo.png" alt = "LITEWATCH LOGO" style="width: 200px;height: 200px; position:absolute; bottom: 0px; right: 0px;" >


{% block content %}
    <h1>Create a new Search</h1>

    <form action="/" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.html_name == "state" %}
                <div style = "font-weight: bolder">Enable your LITE search? {{ field }}</div>
            {% else %}
                <div>{{ field.label_tag }}{{ field }} </div>
            {% endif %}
        {% endfor %}
        <input type="submit" class="theButton" value="Create">

    </form>

    <p style = "font-size: large">Using LITEwatch is as easy as LITE work:</p>
    <li> Enter your desired keyword on the search field above</li>
    <li> Hit the "Create Button" to begin your webcrawling LITE-Search</li>
    <li> Let LITEwatch do the searching for you.</li>
    <li> Check your email if there has been any hits based on your desired keyword</li>

{% endblock %}

