{% extends "base.html" %}
<style>
        body { /*Animation comes from: https://www.sliderrevolution.com/coding/css-background-patterns/*/
        background: linear-gradient(-65deg, #dff024, #70d11b, #11f2ee, #3e7fc9);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
    h1{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-size: xxx-large;
        outline-style: wave;
        color: black;
        padding: 5px;
        border: 15px black;
        background-color: aquamarine;
        font-weight: bold;
    }

    h2{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-size: x-large;
        outline-style: wave;
        color: black;
        padding: 5px;
        border: 15px black;
        background-color: darkturquoise;
        font-weight: bold;
    }

    li{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-size: x-large;
        font-weight: bold;
    }

    p{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-weight: bold;
        padding: 5px;
        border: 15px black;
        background-color: #00FF2D;
    }

    li{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-weight: bold;
        font-size: medium;
        padding: 5px;
        border: 15px black;
        background-color: #EBFA05 ;
    }
    table, th, td {
        border: 5px solid #333;
        background-color: #57e02d;
    }

    th {
        color:#000066;
        font-weight: bold;
        background-color: #03ff57;
    }

    td {
        font-weight:bolder;
    }

        .theButton{
            font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
      width: auto;
      padding: 2px 6px;
      margin: 3px 5px;
            font-weight:bolder

     }

        .noFont {
            /*Did You expect anything here? This is just an empty font for newlines in case of a misuse...*/
        }
</style>

{% block title %}User Options{% endblock %}
{% block script %}
    <script>
    function myFunction() {
        var x = document.getElementById("deleteconfirmation");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function change() {
        var change = document.getElementById("startdeletebutton");
        change.innerHTML="Confirmation: Press again to open account deletion prompt.";
    }
    </script>
{% endblock %}

{% block content %}
    <img src="LITEWATCH_logo.png" alt = "LITEWATCH LOGO" style="width: 200px;height: 200px; position:absolute; bottom: 0px; right: 0px;" >

    {% if FailedDelete %}
        <h2>Failed to delete account. Ensure you typed in your username during confirmation correctly. No extra space before or after, case-matching, etc.</h2>
    {% endif %}
    {% if user.is_authenticated %}
        <h2>{{ user.username }}'s Account LITE Management</h2>
    {% else %}
        <h2>Please login first.</h2>
    {% endif %}

    <h3></h3>
    <p>Clicking this button will take you through the account deletion process.</p>
    <button id="startdeletebutton" class="theButton" onclick="myFunction(); change();">DELETE ACCOUNT</button>
    <div id="deleteconfirmation" hidden>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="deleteaccount">
            <p>Please type your username in the text box below and click the delete button. </p>
            <p>Username details are case-sensitive!</p>
            <p>A final confirmation pop-up will occur.</p>
            <input type="text" name="usernamematch">
            <button type="submit" onclick="return confirm('Are you sure?\nThis will delete your account and all associated data forever.')">Delete</button>
        </form>
    </div>


{% endblock %}
